h1 {
    background-color: orange;
}

/* 모든 p 태그에 대해서
    그 부모의 첫번째 자손이
    p태그 인것에 스타일 부여
    
    아래 코드의 상태는 body(부모)태그의
    첫번째 자손은 h1이기 때문에
    div밖에 있는 p 태그에 적용 안됨
    모든 태그 통틀어 몇번쨰*/

/* 수열에 지정한 번째에 해당 태그가 있으면
    그 태그에 스타일 적용 */
/* p:nth-child(2n+1) {
    background-color: greenyellow;
} */

/* 부모 밑에 있는 p 태그 중에 
    첫번째 있는 p태그 
    모든 p태그중 첫번째 것*/

/* 모든 p태그중 해당 번째에 해당하는
    것에 모두 스타일 적용 */
p:nth-of-type(2n+1) {
    background-color: red;
}