/* 
www.css3generator.com
Text Shadow
Horizontal Length: 그림자를 가로로 얼마만큼 할건지
verticla Length: 세로 방향으로 얼마만큼 할건지
Blur radius: 흐림 정도
shadow color 색상 */

h2 {
    text-shadow: 5px 3px 2px #FF4719;
    width: 200px;
    height: 100px;
    -webkit-box-shadow: 3px 3px 2px 2px #FF1251;
    /* webkit-box-shadow 기능을 지원하지 않는 브라우저도 사용할 수 있게 해준다 */
    box-shadow: 3px 3px 2px 2px #FF1251;
}

h1 {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feccb1+0,edcb5e+26,f17432+50,ea5507+56,ff0000+80,fb955e+100 */
    background: #feccb1;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #feccb1 0%, #edcb5e 26%, #f17432 50%, #ea5507 56%, #ff0000 80%, #fb955e 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #feccb1 0%, #edcb5e 26%, #f17432 50%, #ea5507 56%, #ff0000 80%, #fb955e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #feccb1 0%, #edcb5e 26%, #f17432 50%, #ea5507 56%, #ff0000 80%, #fb955e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feccb1', endColorstr='#fb955e', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */


    width: 300px;
    text-align: center;
}